@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--content-width: 640px;
}

main {
	padding-top: 128px;
	padding-bottom: 128px;
	margin: auto;
	max-width: 1072px;
	font-weight: 300;
	height: auto;
	overflow-y: scroll;
}

@media screen and (max-width: 768px) {
	main {
		padding: 64px 0px;
	}
}

.main-grid {
	display: grid;
	grid-template-columns: 192px var(--content-width) 192px;
	grid-column-gap: 24px;
	-moz-column-gap: 24px;
	column-gap: 24px;
	align-items: flex-start;
}

.main-grid > * {
	grid-column: 2;
}
